[Unit]
Description=TESC Farm API Service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/timothy/code/TESCSE-Ecom/api
ExecStart=/home/timothy/code/TESCSE-Ecom/api/api
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=farmapi
User=timothy
Group=www-data
EnvironmentFile=/etc/environment
Environment="GIN_MODE=release"

[Install]
WantedBy=multi-user.target
