
.sznspot {
    color: #3f5700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    
}


/*Circle picture frames for home*/
.seasonal {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.spotlight {
    display: grid;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}